.active{
    background-color:rgb(201, 201, 96);
}
.btn{
    padding: 7px;
    margin-left: 2px;
    border-radius: 5px;
    border: 1px solid gray;
   
}
.btn-container{
    position: absolute;
    top: right;
}